.weather-panel {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  background: var(--fallback-gradient-color);
  background: linear-gradient(180deg, var(--gradient-colors));
  transition: filter 150ms ease-out 200ms;
}

.show-modal .weather-panel {
  filter: blur(10px);
  transition: filter 150ms ease-out 200ms;
}

.weather-card {
  color: #fff;
  margin-bottom: 8%;
  padding: 5%;
  position: relative;
}

.weather-card__weekday {
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
}

.weather-card__date,
.weather-card__location {
  font-size: 0.9em;
  font-style: italic;
  line-height: 1.2;
  opacity: 0.5;
}

.weather-card__change-location {
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font-size: 0.8em;
  line-height: 1.5;
  opacity: 1;
  padding: 7px 14px;
  position: absolute;
  top: 10%;
  right: 5%;

  /* transition: background 350ms ease-out, color 350ms ease-out, opacity 350ms ease-out 400ms; */
}

.weather-card__change-location:hover,
.weather-card__change-location:focus {
  background: #b7daf4;
  color: #100f26;
}

.weather-card__temperature {
  font-size: 8em;
  font-weight: bold;
  margin-top: 70px;
}

.weather-card__details {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  flex-wrap: column;
  margin: 0;
  padding-top: 4%;
  padding-bottom: 3%;
  width: 100%;
}

.weather-card__details:last-of-type {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.weather-card__details dt {
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bold;
  padding-left: 2%;
  padding-top: 0.45%;
}

.weather-card__details dd {
  margin-left: auto;
}
